{% extends 'admin/base.html' %}
{% block header %}
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/admin/"></a></h1>


        </div>


        <div id="user-tools">


            <a href="/admin/" class="button button1">Admin</a>
            <a href="/product_create" class="button button1">1 - Sklad</a>
            <a href="/finish_product_create" class="button button1">2 - Sklad</a>
            <a href="/" class="button button1">Maxsulotlar jadvali</a>
            <form id="logout-form" method="post" action="/admin/logout/">
                    <input type="hidden" name="csrfmiddlewaretoken" value="NvtCwyr1XfihQtPCnRFkrrddlikRUeGYS15WCZrrkJl0pudSodtlbRgo2fLl6rqU">
                    <button type="submit">Log out</button>
                </form>


            <button class="theme-toggle">
                <div class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</div>
                <div class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</div>
                <div class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</div>
                <svg aria-hidden="true" class="theme-icon-when-auto">
                    <use xlink:href="#icon-sun"/>
                </svg>
                
            </button>


        </div>


    </div>

    <!-- END Header -->
    
{% endblock %}